html {
    font-size: 10px;
}

div {
    border: 1px solid black;
    height: 300px;
    width: 300px;
    margin: 0 auto;
    padding: 10px;
    font-size: 54px;
}

h1 {
    font-size: 1.6rem;
}

p {
    font-size: 2rem;
}

div p {
    font-size: 1.8rem;
}