@import 'partials/theme';
@import 'partials/listas.scss';
@import 'partials/pages.scss';


nav {
    width: 100vw;
    height: 80px;

    a {
        color: $primary-color;
        text-decoration: none;
        transform: scale(1.2);
        margin-bottom: $spacer-2;

        &:hover {
            color: yellow;
        }
    }
}