@import 'partials/listas.scss';
@import 'partials/pages.scss';


nav {
    width: 100vw;
    height: 80px;

    a {
        color: blue;
        text-decoration: none;
        transform: scale(1.2);
    }
}