.pai {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    align-content: center;
    flex-wrap: wrap;
    background-color: yellow;
    width: 1000px;
    margin: 100px auto;
    height: 600px;
}



.pai div {
    padding: 60px;
    background-color: blue;
    color: white;
    border-radius: 8px;
    width: 20px;
    height: 20px;
    margin-right: 2px;
}

.pai div:nth-child(3) {
    background-color: red;
    height: 60px;
}

.pai div:nth-child(5) {
    background-color: green;
    height: 120px;
}

.pai div:nth-child(7) {
    background-color: purple;
    height: 240px;
}