h1 {
    text-align: center;
  }
  

div {
    display: flex;    
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    border: 2px solid black;
    border-radius: 8px;
}

@mixin responsive($screen) {
    @if $screen == mobile {
        @media screen and (min-width: 360px) and (max-width: 767px) {
            @content
        };
    }@else if $screen == tablet {
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            @content
        };
        
    }@else if $screen == desktop {
        @media screen and (min-width: 1200px) {
            @content
        };
        
    }
}

ul {
    list-style: none;
    @include responsive(mobile) {
        background-color: green;
        width: 300px;
    }
    @include responsive(tablet) {
        background-color: pink;
        width: 700px;
    }
    @include responsive(desktop) {
        background-color: cyan;
        width: 1000px;
    }
}

@for $item from 1 to 6 {
    @if $item % 2 == 0 {

        li:nth-child(#{$item}) {
            height: 40px;
            line-height: 40px;
            background-color: blue;
        }
    }
}



li {   
    height: 40px;
    line-height: 40px;
}