:root {
    --base-color: #9e9da8;
    --base-color-2: #fff;
    --primary-color: #0015ff;
    --highlight-color: #00ff59;
    --contrast-color: #000;
    --title-text: Times, Georgia, serif;
    --body-text: Arial, Helvetica, sans-serif;
    --shadow: 2px 2px 8px rgba(0, 0, 0, .8);
}


body {
    background-color: var(--primary-color);
    margin: 0;
    padding: 0;
    font-family: var(--body-text);
}


nav {
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--base-color-2);

}

h1 {
    padding-left: 30px;
    color: var(--contrast-color)
}

h2, p {
    color: var(--contrast-color)
}

nav h1 {
    margin: 0;
}

main {
    width: 600px;
    height: 400px;
    margin: 100px auto;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: start;
    background-color: var(--base-color-2);
    box-shadow: var(--shadow);
    padding: 60px;
}

button {
    padding: 12px 32px;
    font-size: 18px;
    height: 48px;
    border-radius: 4px;
    border: none;
    background-color: var(--highlight-color);
}

button:hover {
    background-color: var(--primary-color);
    color: var(--base-color-2)
}