*{
  box-sizing: border-box;
  font-family: 'Didact Gothic', sans-serif;
  font-weight: normal;
}

body{
  margin: 0;
  padding: 16px;
  background: #000;
}

.page-wrapper{
  display: grid;
  gap: 16px;
  width: 100%;
  height: 100vh;
  grid-template-columns: 2.5fr 2.5fr 1.25fr 1.25fr 2.5fr;
  grid-template-rows: 80px auto;
  grid-template-areas: 
  "header1    header1   header1   header1   header2"
  "banner     banner    mondrian  mondrian  texto"
  "rietveld   vermelho  mondrian  mondrian  texto"
  "rietveld   vermelho  preto     branco    texto"
  ;
 
}

.pad-32{
  padding: 32px;
}

.header-1 {
  background: white;
  grid-area: header1;
  display: flex;
  justify-content: flex-start;
  align-items: center;

}

.header-1 nav {
  width: 33%;
  display: flex;
  justify-content: space-between;
}

.header-1 nav a {
  text-decoration: none;
  color: black
}

.logo {
  width: 33%;
  height: 33px;
}

.logo img {
  margin-left: 32px
}

.header-2 {
  background: yellow;
  grid-area: header2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner {
  background: white;
  grid-area: banner;
  grid-row: 2/3;
  display: flex;
  justify-content: space-between;
}

.banner-text, .banner-image {
  width: 50%;
  display: table;
  padding: 8px 40px;
}

.banner-text h1 {
  font-size: 64px;
  line-height: 80px;
  margin: 0 0 16px 0;
  padding: 0;  
}

.banner-text h2 {
  font-size: 28px;
  line-height: 32px;
  margin: 32px 0 8px 0;
  padding: 0;  
}


.banner-text h4 {
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

.banner-text a {
  font-size: 21px;
  color: white;
  background: #3963A4;
  padding: 10px 32px;
  display: table;
  text-align: center;
  margin-top: 24px;
}

.banner-image img {
  width: 100%;
  max-width: 318px;
  height: auto;
}

.mondrian {
  background: #3963A4;
  grid-area: mondrian;

}

.mondrian h2, .mondrian p {
  color: white;
}

.texto {
  background: white;
  grid-area: texto;
}

.rietveld{
  background: yellow;
  grid-area: rietveld;
}

.rietveld img, .mondrian img {
  width: 100%;
  max-width: 270px;
  height: auto;
}

.vermelho {
  background: red;
  grid-area: vermelho;
}

.branco {
  background: white;
  grid-area: branco;
}

.preto {
  background: black;
  grid-area: preto;
}

.carrinho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 140px;
}

.carrinho p {
  width: 100px;
  display: inherit;
}

.carrinho p span {
  margin-left: 16px;
  width: 24px;
  height: 24px;
  display: block;
  color: white;
  text-align: center;
  line-height: 24px;
  background-color: black;
}