@function changeColor($type, $color) {
    @if $type == light {
        $newColor: lighten($color, 20%);
        @return $newColor;
    }
    @else if $type == dark {
        $newColor: darken($color, 10%);
        @return $newColor;
    }
    @else if $type == comp {
        $newColor: complement($color);
        @return $newColor;
    }
    @else {
        $newColor: $color;
        @return $newColor;
    }
}



@mixin card($bgcolor, $txtcolor, $icon, $badge) {
    width: 20%;
    display: table;
    height: 300px;
    background-color: $bgcolor; 
    background-image: url($icon);
    background-size: 20%;
    background-position: bottom right;
    border-radius: 8px;
    margin-right: 32px;
    margin-top: 32px;
    padding: 32px;
    color: $txtcolor;
    position: relative;
    transition: all 0,2s ease-in-out;

    &:after {
        content: 'status: ' + $badge;
        position: absolute;
        top: 16px;
        right: 16px;
        background-color: black;
        color: white;
        padding: 6px 18px;
        border-radius: 3px;
    }

    &:hover {
        background-color: changeColor(light, $bgcolor );
    }

}

@mixin btn-large($height:60px, $fontsize:28px) {
    height: $height;
    font-size: $fontsize;
}

@mixin btn($bgcolor, $txtcolor) {
    border: none;
    height: 40px;
    border-radius: 4px;
    background-color: $bgcolor;
    color: $txtcolor;
    padding: 8px 32px;
    font-size: 16px;
}

.card-positive {
    @include card(changeColor(dark, green), black, 'images/chart-up.svg', 'Deu bom!');
}

.card-negative {
    @include card(red, white, 'images/chart-down.svg', 'Deu ruim!');
}


.btn {
    @include btn(black, white);
}

.btn-large {
    @include btn(black, white);
    @include btn-large();
}